/* Navbar */
.navbar {
    background-color: #232323;
    border-bottom: 1px solid #393939; /* border-gray-300 */
    padding: 30px;
  }
  
  
  /* Container da Navbar */
  .navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .navbar-logo-container {
    flex: 1;
  }
  
  .navbar-logo {
    max-height: 40px;
    width: auto;
  }